<!doctype html>
<head>
  <link rel='stylesheet'  type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:300'>
     <link rel="stylesheet" type="text/css" href="css/index2.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
     
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
     
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  
    </head>
<body style="background-color:#8391a8">
<div class="login-page">
  <br>
  <br>
  <h3 align="center" style="color:black">Team Generator</h3>
  <br>
  <br>
  <br>
  <div class="container-fluid">
    
<form method ="post"  action="/contact"   class="login-form"  >
  <table cellpadding="12" align="center">
    <tr>
<td style="color:yellow">FilePath:</td><td><input type="text" name="path" placeholder="Enter FilePath" id="uname"/></td></tr><tr>
<td style="color:blue">Team Size: </td><td><input type="number" name="teamsize"  placeholder="Enter Team size" oninput="validity.valid||(value='');" /></td></tr></table><br>
<center><button  class="btn btn-warning"type ="submit"  name="submit"  class="button" >Submit</button></center>
</form>
  </div>
</div>
</body>
</html>

